@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root{
    font-size: 16px;
    --pink: #F059A1;
    --light-blue: #59DBF0;
    --yellow:#F0DF59;
    --dark-blue:#6D959B;
}

body,html{
    overflow-x: hidden;
}

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pink{
    color: var(--pink);
}

.white{
    color: white;
}

h1{
    font-size: 3.2rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
}

header{
    background: var(--light-blue);
    margin: 0;
}

footer{
    height: 200px;
    background: var(--dark-blue);
    padding: 100px;
}

.container:first-child{
    padding-top: 10px;
    padding-bottom: 10px;
}

.signin{
    border: none;
    background: transparent;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    padding: 20px;
    text-decoration: none;
}

.signup{
    border: none;
    border-radius: 5px;
    background: var(--yellow);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.start_btn{
    border: none;
    border-radius: 5px;
    background: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.firstscreen{
    background: url(../img/Rectangle.png) no-repeat;
    background-size: cover;
    height: 640px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.why{
    background-color: var(--light-blue);
    border-radius: 5px;
    width: 30%;
    height: 300px;
    padding: 30px;

    text-align: center;
}

.why img{
    height: 95px;
}

.how{
    background-color: var(--yellow);
    border-radius: 5px;
    width: 20%;
    height: 200px;
    padding: 30px;

    text-align: center;
}

.how_bigger{
    margin-top: 30px;
    background-color: var(--yellow);
    border-radius: 5px;
    height: 200px;
    padding: 30px;

    text-align: center;
}

.how_bigger img{
    height: 50px;
}

.you_are_wonderful{
    display: flex;
    align-items: center;
    width: 90%;
}

.entrance {
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 100px;
    margin-top: 50px;
}

input, select {
    width: 440px;
    height: 50px;
    flex-shrink: 0;
    background: var(--yellow);
    color: #544F4C;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    margin-bottom: 20px;
}

select {
    width: 480px;
}

::placeholder, option {
    color: var(--pink);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.div_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.field-loginform-username, .field-loginform-password {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 0 auto;
}

.registration {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 100px;
}

.profile_block{
    padding-top: 60px;
    padding-bottom: 60px;
}
